
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title data-n-head="true">AQ – Home</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<link rel="stylesheet" href="./boiler.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>

#logout {
  line-height: normal;
  margin-left:auto;
  border-radius: 30px;
  padding: 12px 20px;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size:90%;
}
.stack {
  flex-direction: column;
}
.bimg {
  max-width: 300px;
  height: auto;
  max-height: 200px;
}
.bl {
  width: 100%;
  flex-direction: row;
  display: flex;
  align-items: center;
  padding: 15px;
}

.bl * {
  padding-left: 5px;
  padding-right: 5px;
}
.thumbnail {
  min-height: 100px;
  height: 150px;
  width: 200px;
  overflow: hidden;
  padding: 10px;
}
div.bl:nth-child(odd) {
  background: rgba(0,0,0,0.04);
}

#body {
  padding-top: 5%;
}

</style>
</head>
<body>
  <div id=header>
    <div class=flexer>
      <a href='/'>
        <img id='headerlogo' src='/aq-logo.svg'>
      </a>
  </div>
    <button id=logout onclick='window.location.href="/logout"'>Logout</button>
  </div>
  <div id='body'>
      <div id='boards'>
          <% if (typeof boards != 'undefined') { %>
              <% for (board of boards) { %>
               <% if (board.url && board.name) { %>
                  <div class=bl>
                    <div>
                      <img class='bimg thumbnail' src=<%= board.url %> >
                    </div>
                    <div>
                      <p> board: <%= JSON.stringify(board.name) %> </p>
                    </div>
                  </div>
            <% } %>
          <% } %>
        <% } %>
    </div>
  </div>
  <footer> 
  </footer>
</body>
</html>
